spring:
  datasource:
    url: jdbc:postgresql://db:5432/productsdb
    username: app
    password: app
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  main:
    allow-bean-definition-overriding: true

server:
  port: 8080
